<%= form_for reparacion, :html => { :class => "form-horizontal", multipart: true } do |f| %>
  <% if reparacion.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(reparacion.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% reparacion.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset>
    <legend>Agregar reporte:</legend>
    <div class="form-group">
      <%= f.text_area :obs_reparacion, :class => "form-control", :rows => 8 %>
    </div>
  </fieldset>


  <fieldset>
    <legend>Agregar foto:</legend>
    <div class="form-group text-center">
      <label class="btn btn-success btn-lg btn-file">
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        &nbsp; SACAR FOTO <input type="file" name="reparacion[foto]" id="reparacion_foto" style="display: none;" />
      </label>
    </div>
  </fieldset>



  <%= f.hidden_field :id, :value => reparacion.id %>

  <!-- Form actions -->
  <div class="form-group">
    <div class="col-md-12 text-center">
    <%= f.submit "Enviar Reporte", :class => "btn btn-primary btn-sm" %>
    </div>
  </div>



<% end %>
