<% @reparacions.each do |rep| %>
<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-8">
        <%= rep.observaciones %>
      </div>

      <div class="col-sm-4 text-right">
        <%= link_to "Reparar", edit_reparacion_path(rep), :class => "btn btn-danger btn-xs" %>
        <%= link_to "Ver", reparacion_path(rep), :class => "btn btn-primary btn-xs" %>
      </div>
    </div>

  </div>
</div>
<% end %>

