<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-8">
        <%= @reparacion.observaciones %>
      </div>

      <div class="col-sm-4 text-right">
        <a href="#" class="btn btn-primary btn-xs">VER</a>
      </div>
    </div>

  </div>
</div>
