<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Abrir Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Fuente Natural - Ordenes</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Bienvenido, #{current_user.nombre}", "#" %></li>

        <li class="active">
          <%= link_to reparacions_path do %>
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> &nbsp; Ordenes Pendientes
          <% end %>
        </li>
      </ul>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to destroy_user_session_path, :method => :delete do %>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> &nbsp; Terminar sessión
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_session_path do %>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> &nbsp; Ingresar
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
