<!DOCTYPE html>
<html>
<head>
  <title>FuenteNaturalOrdenes</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style type="text/css">
  body { padding-top: 80px !important; }
  </style>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<%= render "nav" %>

<div class="container">
<div class="row">
  <div class="col-sm-12">
    <%= flash_messages %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= yield %>
  </div>
</div>

</div> <!-- .containter -->

</body>
</html>
